*{
  box-sizing:border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background:#ED1C24;
  padding-bottom:100px;
}

div.grid{
  padding-bottom:100px;
}


div.grid-item {
  width:33.33%;
    padding:15px;
}

h1:hover{
  color:#ED1C24;
}

p:hover{
  color:#ED1C24;
}

div.grid-item img {
  width:100%;
  border-radius:10px;
  transition: all 0.5s;
}

div.grid-item img:hover {
  transform:translate(-3px, -3px) rotate(3deg);
  box-shadow:10px 10px 10px rgba(0,0,0,0.3)
/*   border-radius: 1000px */
  
}

h1 {
  color:white;
  font-size:100px;
  font-family: "Gaegu", sans-serif;
  text-align:center;
  margin-bottom:10px;
}

h2 {
  color:white;
  font-size:50px;
  font-family: "Gaegu", sans-serif;
  text-align:center;
  margin-bottom:10px;
}


p {
  color:white;
  font-size:15px;
 font-family: "Roboto Mono", monospace;
  text-align:center;
}

p.bottomPage{
  color:white;
}

div.intro{
  padding:15px;
}